<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <header>
        <nav class="nav-class">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Music</a>
            <a href="/photo">Photo</a>
        </nav>
    </header>

    <h1>About Beatles</h1>
    
    <article>
        <div>
            
            <p>The Beatles were an English rock band, formed in Liverpool in 1960, that comprised John Lennon, Paul McCartney, George Harrison and Ringo Starr. 
            They are regarded as the most influential band of all time and were integral to the development of 1960s counterculture and popular music's recognition as an art form.
            </p> 
        </div>
    <br>   
        <div>
            <p>Rooted in skiffle, beat and 1950s rock 'n' roll, their sound incorporated elements of classical music and traditional pop in innovative ways; the band also explored music styles ranging from folk and Indian music to psychedelia and hard rock. 
            As pioneers in recording, songwriting and artistic presentation, the Beatles revolutionised many aspects of the music industry and were often publicised as leaders of the era's youth and sociocultural movements.
            </p>
        </div>
    </article>    
</body>
</html>