<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="nav-class">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Music</a>
            <a href="/photo">Photo</a>
        </nav>
    <img id="cover-img" src="/images/cover.jpg" alt="Cover">
    <h1>Welcome on Beatles Fan Page <3 </h1>
    </header>    
    
</body>
</html>