<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <link rel="stylesheet" href="/css/photo.css">

</head>
<body>
    <nav class="nav-class">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Music</a>
        <a href="/photo">Photo</a>
    </nav> 
    
    <h1>Some Pictures</h1>

    <article>
        <div>
            <img src="/images/beatles1.jpg">
            <img src="/images/beatles2.jpg">
        </div>
        <div>
            <img src="/images/beatles3.jpg">
            <img src="/images/beatles4.jpg">
        </div>
    </article>
    
</body>
</html>