<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/works.css">

</head>
<body>
    <nav class="nav-class">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Music</a>
        <a href="/photo">Photo</a>
    </nav>

    <h1>Popular Music :</h1>

    <article>
        
        <h2>Popular on Spotify</h2>
        <iframe id="spotify-link" src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO2iBPiw?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        
        <h2>Popular on Spotify</h2>
        <iframe id="youtube-link" src="https://www.youtube.com/embed/d4ImcvUNtl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </article>

</body>
</html>